header 
  h1 Providence Startups
section#content
  ol
    li 
      article
        p This is a test
        div.hiring Hiring
    li
      article 
        p this is another test
footer
  | <p>Project by @mbowcock / Source at <a href="http://github.com/mbowcock/providence_startups">github</a>
