doctype html
html(lang="en")
  head
    title Providence Startups
    meta(charset="utf-8")
    meta(name="description", content="Providence Rhode Island Startups")
    meta(name="keywords", content="providence, ri, rhode island, startups, technology")
    meta(name="author", content="Matt Bowcock")
    link(rel='stylesheet', href='/stylesheets/style.css')
    | <script type="text/javascript">
    | var _gaq = _gaq || [];
    | _gaq.push(['_setAccount', 'UA-31467799-1']);
    |  _gaq.push(['_trackPageview']);
    | (function() {
    | var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    | ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    | var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    | })();
    | </script> 
  body
    block content
footer
  | <p><a href="/submit">Submit a startup</a> / <a href="/api">API</a> / Project by <a href="https://twitter.com/mbowcock">@mbowcock</a> / Source at <a href="http://github.com/mbowcock/providence_startups">github</a>
