!!! html
html
  head
    title = "Providence Startups"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
footer
  | <p>Project by <a href="https://twitter.com/mbowcock">@mbowcock</a> / Source at <a href="http://github.com/mbowcock/providence_startups">github</a>
