body {
  margin: 4em auto;
  width: 72%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #f36b3b;
}

a {
  color: #00B7FF;
}

.hiring {
  background-color: gray;
  color: white;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}

.name {
  text-decoration: none;
}  

span.hiring>a{
  color: white;
  text-decoration: none;
}
footer a:link {
  text-decoration: none;
}
